body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.left-side-wrapper {
  display: flex;
  flex-direction: column;

  width: 288px;
  height: 100vh;
}

.side-navbar-logo {
  height: 80px;

  position: absolute;
  left: 24px;
  top: 24px;
}

.side-logo {
  width: 89.52px;
  height: 30.36px;

  position: absolute;
  left: 0px;
  top: 0.36px;
}

.side-navbar-menu { 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  position: relative;
  top: 110px;
  height: 40px;
  left: 24px;

  cursor: pointer;
}

.menu-icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px 4px 12px;

  position: relative;
  left: 3.25%;
  right: 6.25%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.menu-selected {
  background: #EDEEFF;
  border-radius: 48px;
}

.menu-icon {
  width: 32px;
  height: 32px;
  
  position: static;
  left: 0px;
  top: 0px;
}

.menu-text-font {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.menu-text-font-selected {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.menu-text-selected {
  position: relative;
  height: 24px;
  top: 4px;

  padding-left: 10px;
  padding-bottom: 2px;
  color: #3843D0;
}

.menu-text {
  position: relative;
  height: 24px;
  top: 4px;

  padding-left: 10px;
  padding-bottom: 2px;
  color: #9A9CB5;
}

.lobby-container {
  flex-grow: 1;
  height: 100vh;
  background-color: #F1F2F8;
}

.lobby-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80px;
  left: 48px;
  top: 0px;
}

.lobby-navbar-button {
  position: relative;

  width: 100px;
  height: 36px;
  top: 2px;

  margin-right: 25px;
  cursor: pointer;
}

.lobby-navbar-icon {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.lobby-navbar-icon-group2 {
  width: 21px;
  height: 28px;
  padding-right: 10px;
  cursor: pointer;
}

.lobby-navbar-icon-group3{
  width: 24px;
  height: 26px;
  padding: 3px;
  padding-top: 2px;
  background-color: #3843D0;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
}


.lobby-navbar-icon-user {
  position: relative;

  bottom: -20%;
  width: 24px;
  height: 26px;

  cursor: pointer;
}

.lobby-navbar-number-group2 {
  padding-left: 2px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  
  color: #D9DAE3;
}

.lobby-group2-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5%;
}

.navbar-buttons-group1 {
  flex-grow: 3;
}

.navbar-buttons-group2 {
  display: flex;
  flex-direction: row;
  flex-grow: 3;
}

.navbar-buttons-group3 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.lobby-feed {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 40px;

  margin-left: 20%;
  margin-right: 20%;
}

.lobby-feed-title {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;
}

.lobby-feed-title-text {
  flex-grow: 4;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #333333;
  text-align: start;
}

.lobby-feed-title-btn-wrapper {
  flex-grow: 1;
  align-self: flex-end;
  cursor: pointer;
}

.lobby-feed-title-btn {
  width: 177px;
  height: 36px; 
}

.lobby-feed-options {
  display: flex;
  flex-direction: row;
  flex-grow: 4;

  align-items: center;
  justify-content: flex-start;

  position: relative;
  top: 30px;

  cursor: pointer;
}

.lobby-feed-option {
  width: 81px;
  height: 16px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 0.02em;

  position: relative;
}

.lobby-feed-questions-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  position: relative;
  top: 50px;
  /* background: #DBDBDB; */
}

.lobby-feed-question {
  display: flex;
  flex-direction: row;
  padding: 2%;
  padding-top: 3%;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.user-profile-picture {
  margin-right: 5%;
}

.question-content {
  width: 95%;
}


.question-content-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #4F4F4F;

  padding-bottom: 10px;
}

.question-content-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #828282;
  opacity: 0.7;

  padding-bottom: 10px;
}

.question-content-likes {
  display: flex;
  flex-direction: row;
}

.question-likes {
  display: flex;
  flex-direction: row;
}

.question-likes-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  color: #828282;
  
  margin-left: 30px;
}

.like-icon {
  position: relative;
  width: 19.68px;
  height: 20px;
}

.comments-share-save {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-self: center;
}

.comm-icon {
  width: 18px;
  height: 18px;
}

.share-save-icon {
  width: 19px;
  height: 20px;
}

.comm-number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  color: #9A9CB5;
  margin-left: 5px;
  position: relative;
  bottom: 2px;
}

.user-profile-icon-wrapper {
  width: 56px;
  height: 56px;
  padding: 3px;
  background-color: #3843D0;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}


.user-profile-icon {
  position: relative;

  bottom: -27%;
  width: 42.77px;
  height: 45.83px;

  cursor: pointer;
}